<header class="top-header-bar">
  <div class="header-flex-wrapper">
    <div class="zone-left">
      <span class="pulse-neon"></span>
      <div class="typing-wrapper">
        <strong class="brand-glow">RakhiVerse...</strong>
        <span class="typing-text" id="typeWriter"></span>
      </div>
    </div>
    
    <div class="zone-center">
      <div class="center-label">
        <i class="fa-solid fa-gift gift-icon"></i>
        <span>Raksha Bandhan In</span>
      </div>
      <div class="neon-digits">
        <span id="cdDays">00</span><span class="unit-lbl">d</span>
        <span id="cdHours">00</span><span class="unit-lbl">h</span>
        <span id="cdMins">00</span><span class="unit-lbl">m</span>
        <span id="cdSecs">00</span><span class="unit-lbl">s</span>
      </div>
    </div>
    
    <div class="zone-right">
      <div class="meta-box hide-mobile">
        <i class="fa-regular fa-calendar-days"></i>
        <span id="liveDate">--</span>
      </div>
      <div class="meta-box hide-mobile">
        <i class="fa-regular fa-clock"></i>
        <span id="liveTime">--</span>
      </div>
      <a href="pages/contact.html" class="btn-support">
        <i class="fa-solid fa-headset"></i> Support
      </a>
    </div>
  </div>
</header>
